{% extends 'store/layouts/main.html' %}

{% block content %}
    {% include 'store/inc/slider.html' %}

   
<div class="container">
    


 <!-- DELTED PART -->
 <div class="w3-hide-small w3-hide-medium">
  <div class="bgimg-1  " id="home">

      <div class="w3-row">
        <div class="w3-col s6  w3-center py-3"><p>
          <a href="/cars/search?"> <img
            height="160"
            src="https://i.postimg.cc/L6nc8VNK/lowest-fees-18.png"
            alt="First slide"
          />
        </p></div>
    
        <div class="w3-col s6   py-3"><p>
          <a href="/tiles/1"> <img
            height="160"
            src="https://i.postimg.cc/xdrJ5xWQ/lowest-fees-16.png"
            alt="First slide"
          />
        </p></div>
      </div>
  </div>


  

  </div>
<!--SMALL-->

<div class="w3-hide-large w3-hide-medium">
 
    <div class=" w3-center w3-container">
      <a href="/tiles/1">
        <img
        height="116"
        src="https://i.postimg.cc/xdrJ5xWQ/lowest-fees-16.png"
        alt="First slide"
      />
   
   
   <span class=""></span>
   <a href=" /cars/search?">
    <img
    height="114"
    src="https://i.postimg.cc/L6nc8VNK/lowest-fees-18.png"
    alt="First slide"
    
  />
</a>
<!--small section-->
<div class="w3-row w3-container py-1">
  <br>
  <div class="w3-col s4  w3-center">
    <p>
      <a href="/marbles/"> <img
        height="100"
        src="https://i.postimg.cc/fbtHZDmn/Cement-15.png"
        alt="First slide"
      /> </a> 
    </p>
  </div>
  <div class="w3-col s4  w3-center">
    <p>
      <a href="/cements/"> <img
        height="100"
        src="https://i.postimg.cc/y6XL7fgd/Cement-16.png"
        alt="First slide"
      /> </a> 
    </p>
  </div>
  <div class="w3-col s4  w3-center">
    <p>
      <a href="/cars/"> <img
        height="100"
        src="https://i.postimg.cc/nhSyvqmv/Cement-18.png"
        alt="First slide"
      /> </a> 
    </p>
  </div>
</div>  
  </div>


  <!--SAMPLING -->


  </div>
  </div>
  </div>

    <div class="row">
      <div class="w3-container w3-content w3-center  w3-hide-small" style="max-width:380px" id="band">
        <div class="w3-row w3-container">
    
          <div class="w3-col s4  w3-center">
            <p>
              <a href="/marbles/"> <img
                height="115"
                src="https://i.postimg.cc/fbtHZDmn/Cement-15.png"
                alt="First slide"
              /> </a> 
            </p>
          </div>
          <div class="w3-col s4  w3-center">
            <p>
              <a href="/cements/"> <img
                height="115"
                src="https://i.postimg.cc/y6XL7fgd/Cement-16.png"
                alt="First slide"
              /> </a> 
            </p>
          </div>
          <div class="w3-col s4  w3-center">
            <p>
              <a href="/cars/"> <img
                height="115"
                src="https://i.postimg.cc/nhSyvqmv/Cement-18.png"
                alt="First slide"
              /> </a> 
            </p>
          </div>
        </div>   
        </h2>

       </div>
<br>
    <div class=" w3-hide-small max-w-2xl w3-container  w3-center  "  >
     
      <div class=" w3-container swiffy-slider slider-item-show5 slider-nav-outside slider-nav-autoplay slider-nav-autopause " data-slider-nav-autoplay-interval="3000">
        <div class="slider-container">
            <div><img   height="150" src="https://i.postimg.cc/VL9WrhVj/1.png" alt="..."></div>
            <div><img  height="150" src="https://i.postimg.cc/nzwwWWJs/2.png" loading="lazy" alt="..."></div>
            <div><img height="150" src="https://i.postimg.cc/yxjh5g9L/3.png" loading="lazy" alt="..."></div>
            <div><img  height="150"src="https://i.postimg.cc/V6BXrr7z/4.png" loading="lazy" alt="..."></div>
            <div><img height="150"src="https://i.postimg.cc/Sx28LtZT/5.png" loading="lazy" alt="..."></div>
            <div><img height="150" src="https://i.postimg.cc/HWMPsB4g/7.png" loading="lazy" alt="..."></div>
            <div><img height="150" src="https://i.postimg.cc/tJz3nZ4h/8.png" loading="lazy" alt="..."></div>
            
        </div>
    
        <button type="button" class="slider-nav" aria-label="Go left"></button>
        <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>
    
    </div>
    </div>
<!--small-->
<div class=" w3-hide-large w3-hide-medium max-w-2xl w3-container  w3-center  "  >
     <br>
  <div class="  swiffy-slider slider-item-show5 slider-nav-outside slider-nav-autoplay slider-nav-autopause " data-slider-nav-autoplay-interval="3000">
    <div class="slider-container">
        <div class="w3-container">
          <div class="w3-row">
            <div class="w3-col s4  w3-center"> 
              <img height="105" src="https://i.postimg.cc/VL9WrhVj/1.png" alt="..."></div>
              <div class="w3-col s4  w3-center">
                <img height="105" src="https://i.postimg.cc/nzwwWWJs/2.png" alt="..."></div>
            
            <div class="w3-col s4  w3-center">
              <img   height="105" src="https://i.postimg.cc/yxjh5g9L/3.png" alt="..."></div>
          </div>
          </div>
            
              <div class="w3-container">
                <div class="w3-row">
                  <div class="w3-col s4  w3-center"> 
                    <img   height="105" src="https://i.postimg.cc/V6BXrr7z/4.png" alt="..."></div>
                    <div class="w3-col s4  w3-center">
                      <img   height="105" src="https://i.postimg.cc/Sx28LtZT/5.png" alt="..."></div>
                  
                  <div class="w3-col s4  w3-center">
                    <img   height="105" src="https://i.postimg.cc/HWMPsB4g/7.png" alt="..."></div>
                </div>
                </div>
                <div class="w3-container">
                  <div class="w3-row">
                    <div class="w3-col s4  w3-center"> 
                      <img height="105" src="https://i.postimg.cc/tJz3nZ4h/8.png" loading="lazy" alt="..."></div>
                      <div class="w3-col s4  w3-center">
                     </div>
                  
                    <div class="w3-col s4  w3-center">
                     </div>
                  </div>
                  </div>
     
    </div>

    <button type="button" class="slider-nav" aria-label="Go left"></button>
    <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>

</div>
</div>

        <div class="col-md-12">
          <br><br>
          <div class="conatiner">
            <p class=" w3-container w3-hide-small"> 
      
                 <img
                 height="45"
                 src="https://i.postimg.cc/MGQz59wm/dweweqwq2323-1.png"
                 alt="First slide"
               />  
            </p>  
            <p class="w3-container w3-hide-large w3-hide-large container"> 
                
              <img
              height="35"
              src="https://i.postimg.cc/MGQz59wm/dweweqwq2323-1.png"
              alt="First slide"
            />  
         </p>
         </div>

       

            <div class="conatiner row owl-carousel owl-theme">
            {% for item in trending_products %}
                <div class="product_data item">
                    <div class=" p-4 mb-6 bg-white rounded">
                        <div class="card-body ">
                            <a href="{% url 'productview' item.category.slug item.slug %}">
                                <div class="category-image">
                                    <img src="{{ item.product_image.url }}" alt="Product image" class="w-100"/>
                                </div>
                                <h6 class="">{{ item.name }}</h6>
                            </a>
                            <span class="float-start w3-opacity"><s> ₹ {{ item.original_price }}</s> </span>
                            <span class="float-end"> ₹ {{ item.selling_price }}</span>
                            <br>
                            <div class="row mt-2">
                             
                                <div class="col-md-6 px-0">
                                    <span class="mb-2">
                                        {% if item.quantity > 0 %}
                                            <button type="button" class="btn btn-danger btn-sm py-2 addToCartBtn">Add to Cart <i class="fa fa-shopping-cart"></i></button>
                                        {% else %}
                                            <button type="button" class="btn btn-danger btn-sm  py-2 disabled">Out of Stock</button>
                                        {% endif %}
                                    </span>   
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
 <!-- sampling-->
              
 

<br><br>
<!-- Footer -->
<footer class="text-center text-lg-start  text-white " style="background-color: rgba(17, 1, 44, 0.976);">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <p>
                Welcome to HardwareDepot.in, your ultimate destination for all your building material and construction material needs.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
          
     
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->

            <p>
              <a href="/cars/" class="text-reset">About US</a>
            </p>
            <p>
              <a href="/tiles/" class="text-reset">Team And condition</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Careers</a>
            </p>
        
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><i class="fas fa-home me-3"></i> Darbhanga| Bihar</p>
           
            <p><i class="fas fa-phone me-3"></i> 7004197301</p>
          
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(4, 1, 17, 0.05);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/"> hardwaredepot Powered by infrablue.in</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->


{% endblock content %}

{% block scripts %}
<script>
$('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    autoplay:true, 
    autoplayTimeout:4000,
    nav:false,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:4
        }
    }
})


</script>

{% endblock scripts %}